<!-- Views/VKE/Index.cshtml -->
@model VucutKitleEndeksModel

<h1>Vücut Kitle Endeksi Hesaplama</h1>

<div class="form-group">
    <label for="boy">Boy (metre)</label>
    <input type="text" class="form-control" id="boy" name="Boy" asp-for="Boy" required>
</div>

<div class="form-group">
    <label for="kilo">Kilo (kg)</label>
    <input type="text" class="form-control" id="kilo" name="Kilo" asp-for="Kilo" required>
</div>

<button id="hesaplaBtn" class="btn btn-primary">Hesapla</button>

<p id="sonuc"></p>

@section Scripts {
    <script>
        document.getElementById("hesaplaBtn").addEventListener("click", function () {
            var boy = parseFloat(document.getElementById("boy").value);
            var kilo = parseFloat(document.getElementById("kilo").value);

            if (!isNaN(boy) && !isNaN(kilo)) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Hesapla", "BMI")",
                    data: {
                        "Boy": boy,
                        "Kilo": kilo
                    },
                    success: function (data) {
                        $("#sonuc").text("Vücut Kitle Endeksi (BMI): " + data.toFixed(2));

                    },
                    error: function () {
                        alert("Hesaplama sırasında bir hata oluştu.");
                    }
                });
            } else {
                alert("Lütfen geçerli bir boy ve kilo değeri girin.");
            }
        });
    </script>
}

